<div class="d-flex col-12 text-center">
  <h2 class="col-12 my-3">My Events</h2>
</div>
<div class="d-flex col-11 justify-content-end">
  <button id="create-event-btn" class="col-1 my-3 align-self-center text-end w-10" style="width: 115px">Create Event</button>
</div>

{{#if userEvents}}
{{#each userEvents as |event|}}
<div class="d-flex flex-column my-3 align-items-center">
  <div class="col-12 col-md-10">
    <div class="col-12 card">
      <div>
        <div class="card-body">
          <h3 class="card-title text-center">{{event.title}}</h3>
          <div class="d-flex justify-content-between">
            <p class="card-text">Start Date: {{event.startDate}}</p>
            <p class="card-text">Start Time: {{event.startTime}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="card-text">End Date: {{event.endDate}}</p>
            <p class="card-text">End Time: {{event.endTime}}</p>
          </div>
          <p class="card-text">Event Description: {{event.description}}</p>
          <p class="card-text">Event Location: {{event.location}}</p>
          <p class="card-text">Event Capacity: ${{event.cost}}</p>
          <p class="card-text">Event Capacity: {{event.capacity}} People</p>
          <a href="/update-event/{{event.id}}" class="card-link update-event-btn btn">Update</a>
          <button class="card-link btn delete-event-btn" data-id="{{event.id}}">Delete</button>
        </div>
      </div>
    </div>
  </div>
{{/each}}
{{else}}
<div class="d-flex col-12 text-center">
  <h2 class="col-12 my-3">No Events Found</h2>
</div>
{{/if}}
 <script src="/js/dashboard.js"></script>