<h2 class="m-3">Favorites</h2>
{{#if favorites}}
  <div class="event-list">
    {{#each favorites as |event|}}
      <div class="event-card bg-light text-dark">
        <h3 class="event-title">{{event.title}}</h3>
        <h5 class="event-date">From {{event.startDate}} to {{event.endDate}}</h5>
        <p>@ {{event.location}} from {{event.startTime}} to {{event.endTime}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No favorites yet.</p>
{{/if}}

<h2 class="m-3">Attending</h2>
{{#if attending}}
  <div class="event-list">
    {{#each attending as |event|}}
      <div class="event-card bg-light text-dark">
        <h3 class="event-title">{{event.title}}</h3>
        <h5 class="event-date">From {{event.startDate}} to {{event.endDate}}</h5>
        <p>@ {{event.location}} from {{event.startTime}} to {{event.endTime}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>Not attending any events yet.</p>
{{/if}}