<h2>Favorites</h2>
{{#if favorites}}
  <ul>
    {{#each favorites as |event|}}
      <div class="p-3 mb-2 bg-light text-dark "><li><h3 class="event-title">{{event.title}}</h3>
          <h5 class="event-date">From
            {{startDate}}
            To
            {{endDate}}
          </h5>
          <p>At {{event.location}}</p>
        </li>
      </div>
    {{/each}}
  </ul>
{{else}}
  <p>No favorites yet.</p>
{{/if}}

<h2>Attending</h2>
{{#if attending}}
  <ul>
    {{#each attending as |event|}}
      <div class="p-3 mb-2 bg-light text-dark"><li><h3 class="event-title">{{event.title}}</h3>
          <h5 class="event-date">From
            {{startDate}}
            To
            {{endDate}}
          </h5>
          <p>At {{event.location}}</p>
        </li>
      </div>
    {{/each}}
  </ul>
{{else}}
  <p>Not attending any events yet.</p>
{{/if}}