{{#each allEvents as |event|}}
  <section class="event-box" id="posts-{{event.id}}">
    <section class="event-header">
      <h3 class="event-title">{{event.title}}</h3>
      <h5 class="event-date">From
        {{format_date event.date}}
        To 07/15/2023
      </h5>
      {{!-- <h6 class="event-location">{{event.location}}</h6> --}}
    </section>
    <section class="event-body">
      <p class="event-details">{{event.description}}</p>
      <p class="event-time">Start at {{event.time}} End at 5:00 PM</p>
      <p class="event-capacity-cost">Event capacity:
        {{event.capacity}}
        Cost:
        {{event.cost}}</p>
    </section>

    {{! BOTTON TO ATTEND AND LIKE }}
    <div class="btn-attend">
      <button
        class="btn btn-primary"
        id="btn-attend"
        type="button"
        name="button"
      >Attending</button>
    </div>

    <div class="btn-favorite">
      <button
        class="btn btn-primary"
        id="btn-favorite"
        type="button"
        name="button"
      >Favorite</button>
    </div>

  </section>
{{/each}}