{{#each allEvents as |event|}}
  <section class="event-box" id="posts-{{event.id}}">
    <section class="event-header">
      <h1 class="event-title">{{event.title}}</h1>
      <h3 class="event-date">{{format_date event.date}} </h3>
      {{!-- <h3 class="event-location">{{event.location}}</h3> --}}
    </section>
    <section class="event-body">
      <p class="event-time">{{event.time}}</p>
      <p class="event-cost">{{event.cost}}</p>
      <p class="event-capacity">{{event.capacity}}</p>
      <p class="event-details">{{event.description}}</p>

    </section>
  </section>
{{/each}}